<section style="display: flex; flex-wrap: wrap;">
<div *ngFor="let card of cards">
  <span>{{card?.id}}º</span>
  <h2>{{card?.header}}</h2>
  <p>{{card?.description}}</p>
  <a [routerLink]="['/auction', card.id]">Detalhar</a>
</div>
</section>
