section {
  display: flex;
  flex-wrap: wrap;
}

div {
  display: flex;
  margin: 20px;
  padding: 10px;
  min-height: 300px;
  min-width: 200px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
  flex-direction: column;
  justify-content: space-around;
}

div:hover {
  transform: translate3d(0, 5px, 0) scale(1.1);
  box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.3);
}

span {
  font-size: 0.6rem;
}

h2 {
  margin: 20px 0;
}

a {
  display: inline-block;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgba(222, 98, 98, 1) 0%,
    rgba(255, 184, 140, 1) 100%
  );
  color: white;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

a:hover {
  transform: scale(1.1);
  background: linear-gradient(
    90deg,
    rgba(151, 32, 32, 1) 0%,
    rgba(179, 68, 0, 1) 100%
  );
}
