footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background: linear-gradient(
    90deg,
    rgba(222, 98, 98, 1) 0%,
    rgba(255, 184, 140, 1) 100%
  );
  /* position: fixed; */
  width: 100%;
  top: 70px;
}

span,
p {
  display: inline-block;
  margin: 10px;
  font-weight: bold;
  font-size: 0.8rem;
}
