nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  background: linear-gradient(
    90deg,
    rgba(222, 98, 98, 1) 0%,
    rgba(255, 184, 140, 1) 100%
  );
}

span,
p {
  display: inline-block;
  margin: 10px;
}

.logo {
  font-size: 1.8rem;
}

a {
  display: inline-block;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  margin-right: 20px;
}

a:hover {
  background: white;
  border: 1px solid white;
  color: rgba(222, 98, 98, 1);
}
