.main-item {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) minmax(200px, 400px);
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 40px;
  height: 100%;
  min-height: 400px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
}

.img-holder {
  height: 100%;
  max-height: 500px;
}
.main-img {
  display: inline-block;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  max-height: 100%;
}

.item-desc {
  height: 100%;
  position: relative;
}

.auction-identifier {
  display: flex;
  justify-content: space-between;
  font-size: 0.6rem;
}

.bid-prices span {
  display: block;
  margin: 10px 0;
  font-weight: bold;
  font-size: 1.1rem;
}

.bid > input,
a {
  display: block;
}

input {
  padding: 15px;
  margin: 15px 0px;
  border-radius: 4px;
  border: 1px solid rgba(222, 98, 98, 1);
  outline-color: rgba(255, 184, 140, 1);
  caret-color: rgba(222, 98, 98, 1);
  color: rgba(222, 98, 98, 1);
}

/*** SUB *****/

.sub-item {
  transform: translate3d(0, 0, 0);
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 200px;
}

.item {
  display: inline-block;
  margin: 20px;
  padding: 10px;
  min-height: 180px;
  min-width: 150px;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
}

.item:hover {
  transform: translate3d(0, 5px, 0) scale(1.1);
  box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.3);
}

.img {
  max-width: 100%;
  border-radius: 4px;
  overflow: hidden;
}

p {
  margin: 10px 0px;
  font-size: 0.8rem;
}

a {
  display: inline-block;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgba(222, 98, 98, 1) 0%,
    rgba(255, 184, 140, 1) 100%
  );
  color: white;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

a:hover {
  transform: scale(1.1);
  background: linear-gradient(
    90deg,
    rgba(151, 32, 32, 1) 0%,
    rgba(179, 68, 0, 1) 100%
  );
}

.item-btn {
  text-align: center;
}
