<div class="main-item">
    <div class="img-holder">
        <img src="https://via.placeholder.com/150" alt="" srcset="" class="main-img">
    </div>
    <div class="item-desc">
      <div class="auction-identifier">
          <span>Auction id:</span>
          <span>Item id:</span>
      </div>
      <h1>item name</h1>
      <p>Product by: USER</p>
      <p>description</p>
      <div class="bid-prices">
          <span>Start price:</span>
          <span>Highest price:</span>
      </div>
      <div class=bid>
        <input type="text" name="bid" id="bid" placeholder="Enter your bid">
        <a href="#"> Place bid</a>
      </div>
    </div>
</div>
<div style="width: 100%; overflow: hidden;">
    <div class="sub-item">
      <drag-scroll>
        <div class="item">
      
            <img src="https://via.placeholder.com/150" alt="" srcset="" class="img">
            <h2>Item name</h2>
            <p>Item description</p>
            <div class="item-btn">
                <a href="#">More info</a>
            </div>
        </div>
        <div class="item">
            <img src="https://via.placeholder.com/150" alt="" srcset="" class="img">
            <h2>Item name</h2>
            <p>Item description</p>
            <div class="item-btn">
                <a href="#">More info</a>
            </div>
        </div>
        <div class="item">
            <img src="https://via.placeholder.com/150" alt="" srcset="" class="img">
            <h2>Item name</h2>
            <p>Item description</p>
            <div class="item-btn">
                <a href="#">More info</a>
            </div>
        </div>
        <div class="item">
            <img src="https://via.placeholder.com/150" alt="" srcset="" class="img">
            <h2>Item name</h2>
            <p>Item description</p>
            <div class="item-btn">
                <a href="#">More info</a>
            </div>
        </div>
        <div class="item">
            <img src="https://via.placeholder.com/150" alt="" srcset="" class="img">
            <h2>Item name</h2>
            <p>Item description</p>
            <div class="item-btn">
                <a href="#">More info</a>
            </div>
        </div>
      </drag-scroll></div>
</div>