/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

body,
ul,
li,
h1,
h2,
p {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

body {
  font-family: "IBM Plex Sans", Arial, Helvetica, sans-serif;
}
